:host {
	ion-icon {
		color: rgb(255, 196, 9);
	}

	.policy-list-header {
		color: gray;
		font-size: 14px;
	}

	.policy-list-item {
		color: #0d2858;
		font-size: 18px;
		font-weight: 500;
		padding-left: 45px;
	}

	.list-header-icon ion-icon {
		font-size: 26px;
		margin-right: 18px;
	}

	.inner-pb {
		--inner-padding-bottom: 18px;
	}

	.inner-pt {
		--inner-padding-top: 18px;
	}
}
