<ion-grid>
	<ion-row>
		<ion-col>
			<ion-list>
				<ion-item lines="none">
					<div class="list-header-icon">
						<ion-icon src="../../assets/ionicons/wallet-outline.svg"></ion-icon>
					</div>
					<ion-label class="policy-list-header"
						>Move value from one policy to another</ion-label
					>
				</ion-item>
				<ion-item button detail lines="none">
					<ion-label class="policy-list-item">Pay with Policy Value</ion-label>
				</ion-item>
				<ion-item button detail class="inner-pb">
					<ion-label class="policy-list-item">Standing Instructions</ion-label>
				</ion-item>
				<ion-item lines="none" class="inner-pt">
					<div class="list-header-icon">
						<ion-icon src="../../assets/ionicons/cash-outline.svg"></ion-icon>
					</div>
					<ion-label class="policy-list-header"
						>Cash out your policy values</ion-label
					>
				</ion-item>
				<ion-item button detail lines="none">
					<ion-label class="policy-list-item">Value Withdrawal</ion-label>
				</ion-item>
				<ion-item button detail class="inner-pb">
					<ion-label class="policy-list-item">Payout Method</ion-label>
				</ion-item>
				<ion-item lines="none" class="inner-pt">
					<div class="list-header-icon">
						<ion-icon src="../../assets/ionicons/wallet-outline.svg"></ion-icon>
					</div>
					<ion-label class="policy-list-header"
						>Take a loan against your policy value</ion-label
					>
				</ion-item>
				<ion-item button detail class="inner-pb">
					<ion-label class="policy-list-item">Loans</ion-label>
				</ion-item>
				<ion-item lines="none" class="inner-pt">
					<div class="list-header-icon">
						<ion-icon src="../../assets/ionicons/cash-outline.svg"></ion-icon>
					</div>
					<ion-label class="policy-list-header"
						>Payment options for your premium</ion-label
					>
				</ion-item>
				<ion-item button detail lines="none" class="inner-pb">
					<ion-label class="policy-list-item">Premium Payment Method</ion-label>
				</ion-item>
			</ion-list>
		</ion-col>
	</ion-row>
</ion-grid>
