<ion-header no-border>
	<ion-toolbar color="warning">
		<ion-buttons slot="start">
			<ion-menu-button color="light" auto-hide="false"></ion-menu-button>
		</ion-buttons>
		<!-- <ion-title text-center>
			
		</ion-title> -->
		<ion-buttons slot="end">
			<ion-button color="light" size="large">
				<ion-icon
					slot="icon-only"
					name="notifications-outline"
					size="large"
				></ion-icon>
				<ion-badge color="danger">2</ion-badge>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="dashboard-container" fullscreen>
	<div class="dashboard-subheader" slot="fixed">
		<ion-avatar class="user-info">
			<img src="../../assets/user-avatar/user-avatar.png" />
		</ion-avatar>
		<p class="user-info user-info-text user-greeting ion-text-center">
			Good Afternoon
		</p>
		<p class="user-info user-info-text user-fullname ion-text-center">
			Borja, Noriel
		</p>

		<ion-toolbar>
			<ion-segment
				[(ngModel)]="segmentModel"
				(ionChange)="segmentChanged($event)"
				class="dashboard-menu-segment"
				value="ilas"
			>
				<ion-segment-button value="ilas">
					<ion-icon
						size="small"
						src="../../assets/ionicons/hand-left.svg"
					></ion-icon>
					<ion-label>Manage<br />ILAS Funds</ion-label>
				</ion-segment-button>
				<ion-segment-button value="claims">
					<ion-icon
						size="small"
						src="../../assets/ionicons/reader.svg"
					></ion-icon>
					<ion-label>Claims</ion-label>
				</ion-segment-button>
				<ion-segment-button value="policy-serving">
					<ion-icon
						size="small"
						src="../../assets/ionicons/hand-right.svg"
					></ion-icon>
					<ion-label>Policy<br />Serving</ion-label>
				</ion-segment-button>
			</ion-segment>
		</ion-toolbar>
	</div>

	<div class="container" *ngIf="segmentModel=='ilas'">
		<ion-grid>
			<ion-row style="margin-top: 10px;">
				<ion-col class="ion-text-center">
					<ion-item button detail lines="none" routerLink="/all-policies">
						<h1 class="dashboard-item-h1" style="margin-top: 10px;">
							Coverage from 4 Policies
						</h1>
					</ion-item>
				</ion-col>
			</ion-row>

			<ion-row class="plans-container ion-margin-bottom">
				<ion-col size="6" class="ion-text-center">
					<div class="life-plan">
						<ion-icon src="../../assets/ionicons/heart-circle.svg"></ion-icon>
					</div>
					<div>
						<ion-label>Life</ion-label>
						<p>HKD 6,146,066</p>
					</div>
				</ion-col>
				<ion-col size="6" class="ion-text-center">
					<div class="critical-illness-plan">
						<ion-icon src="../../assets/ionicons/disc.svg"></ion-icon>
					</div>
					<div>
						<ion-label>Critical Illness</ion-label>
						<p>up to HKD 1,000,000*</p>
					</div>
				</ion-col>
			</ion-row>

			<ion-row class="plans-container ion-margin-bottom">
				<ion-col size="6" class="ion-text-center">
					<div class="med-hosp-plan">
						<ion-icon src="../../assets/ionicons/medkit.svg"></ion-icon>
					</div>
					<div>
						<ion-label>Medical & Hosp.</ion-label>
						<p>up to HKD 721, 800/year, HKD 600,000/disability</p>
					</div>
				</ion-col>
				<ion-col size="6" class="ion-text-center">
					<div class="accident-plan">
						<ion-icon src="../../assets/ionicons/bandage.svg"></ion-icon>
					</div>
					<div>
						<ion-label>Accident</ion-label>
						<p>up to HKD 1,000,000*</p>
					</div>
				</ion-col>
			</ion-row>

			<ion-row class="ion-text-center">
				<ion-col size="12">
					<p class="coverages-note">
						*Additional coverages detailed in provision
					</p>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-row class="dashboard-sub-footer-content">
			<ion-col>
				<div>
					<ion-list>
						<ion-item>
							<ion-label style="font-size: 24px; font-weight: 600;"
								>Assets</ion-label
							>
							<ion-label class="ion-text-end"
								>Total <strong>HKD 10,539</strong></ion-label
							>
						</ion-item>

						<ion-item button detail lines="none">
							<ion-label>Investment Linked</ion-label>
							<ion-label class="ion-text-end"
								><strong>HKD 10,539</strong></ion-label
							>
						</ion-item>

						<ion-item button detail lines="none">
							<ion-label>Savings</ion-label>
							<ion-label class="ion-text-end"
								><strong>HKD 161,688</strong></ion-label
							>
						</ion-item>
					</ion-list>
				</div>
			</ion-col>
		</ion-row>
	</div>

	<div class="container" *ngIf="segmentModel=='claims'">
		<ion-grid fixed>
			<ion-row>
				<ion-col>
					Claims segment content
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

	<div class="container" *ngIf="segmentModel=='policy-serving'">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-list>
						<ion-item lines="none">
							<div class="list-header-icon">
								<ion-icon
									src="../../assets/ionicons/wallet-outline.svg"
								></ion-icon>
							</div>
							<ion-label class="policy-list-header"
								>Move value from one policy to another</ion-label
							>
						</ion-item>
						<ion-item button detail lines="none">
							<ion-label class="policy-list-item"
								>Pay with Policy Value</ion-label
							>
						</ion-item>
						<ion-item button detail>
							<ion-label class="policy-list-item"
								>Standing Instructions</ion-label
							>
						</ion-item>
						<ion-item lines="none">
							<div class="list-header-icon">
								<ion-icon
									src="../../assets/ionicons/cash-outline.svg"
								></ion-icon>
							</div>
							<ion-label class="policy-list-header"
								>Cash out your policy values</ion-label
							>
						</ion-item>
						<ion-item button detail lines="none">
							<ion-label class="policy-list-item">Value Withdrawal</ion-label>
						</ion-item>
						<ion-item button detail>
							<ion-label class="policy-list-item">Payout Method</ion-label>
						</ion-item>
						<ion-item lines="none">
							<div class="list-header-icon">
								<ion-icon
									src="../../assets/ionicons/wallet-outline.svg"
								></ion-icon>
							</div>
							<ion-label class="policy-list-header"
								>Take a loan against your policy value</ion-label
							>
						</ion-item>
						<ion-item button detail>
							<ion-label class="policy-list-item">Loans</ion-label>
						</ion-item>
						<ion-item lines="none">
							<div class="list-header-icon">
								<ion-icon
									src="../../assets/ionicons/cash-outline.svg"
								></ion-icon>
							</div>
							<ion-label class="policy-list-header"
								>Payment options for your premium</ion-label
							>
						</ion-item>
						<ion-item button detail lines="none">
							<ion-label class="policy-list-item"
								>Premium Payment Method</ion-label
							>
						</ion-item>
					</ion-list>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
