<ion-grid>
	<ion-row style="margin-top: 10px;">
		<ion-col class="ion-text-center">
			<ion-item button detail lines="none" routerLink="/all-policies">
				<h1 class="dashboard-item-h1" style="margin-top: 10px;">
					Coverage from 4 Policies
				</h1>
			</ion-item>
		</ion-col>
	</ion-row>

	<ion-row class="plans-container ion-margin-bottom">
		<ion-col size="6" class="ion-text-center">
			<div class="life-plan">
				<ion-icon src="../../assets/ionicons/heart-circle.svg"></ion-icon>
			</div>
			<div>
				<ion-label>Life</ion-label>
				<p>HKD 6,146,066</p>
			</div>
		</ion-col>
		<ion-col size="6" class="ion-text-center">
			<div class="critical-illness-plan">
				<ion-icon src="../../assets/ionicons/disc.svg"></ion-icon>
			</div>
			<div>
				<ion-label>Critical Illness</ion-label>
				<p>up to HKD 1,000,000*</p>
			</div>
		</ion-col>
	</ion-row>

	<ion-row class="plans-container ion-margin-bottom">
		<ion-col size="6" class="ion-text-center">
			<div class="med-hosp-plan">
				<ion-icon src="../../assets/ionicons/medkit.svg"></ion-icon>
			</div>
			<div>
				<ion-label>Medical & Hosp.</ion-label>
				<p>up to HKD 721, 800/year, HKD 600,000/disability</p>
			</div>
		</ion-col>
		<ion-col size="6" class="ion-text-center">
			<div class="accident-plan">
				<ion-icon src="../../assets/ionicons/bandage.svg"></ion-icon>
			</div>
			<div>
				<ion-label>Accident</ion-label>
				<p>up to HKD 1,000,000*</p>
			</div>
		</ion-col>
	</ion-row>

	<ion-row class="ion-text-center">
		<ion-col size="12">
			<p class="coverages-note">
				*Additional coverages detailed in provision
			</p>
		</ion-col>
	</ion-row>
</ion-grid>
<ion-row class="dashboard-sub-footer-content">
	<ion-col>
		<div>
			<ion-list>
				<ion-item>
					<ion-label style="font-size: 24px; font-weight: 600;"
						>Assets</ion-label
					>
					<ion-label class="ion-text-end"
						>Total&nbsp;&nbsp;&nbsp;<strong>HKD 10,539</strong></ion-label
					>
				</ion-item>

				<ion-item button detail lines="none">
					<ion-label>Investment Linked</ion-label>
					<ion-label class="ion-text-end"
						><strong>HKD 10,539</strong></ion-label
					>
				</ion-item>

				<ion-item button detail lines="none">
					<ion-label>Savings</ion-label>
					<ion-label class="ion-text-end"
						><strong>HKD 161,688</strong></ion-label
					>
				</ion-item>
			</ion-list>
		</div>
	</ion-col>
</ion-row>
