<ion-header no-border>
	<ion-toolbar color="warning">
		<ion-buttons slot="start">
			<ion-menu-button color="light" auto-hide="false"></ion-menu-button>
		</ion-buttons>
		<!-- <ion-title text-center>
			
		</ion-title> -->
		<ion-buttons slot="end">
			<ion-button color="light" size="large">
				<ion-icon
					slot="icon-only"
					name="notifications-outline"
					size="large"
				></ion-icon>
				<ion-badge color="danger">2</ion-badge>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="dashboard-container" fullscreen>
	<div class="dashboard-subheader" slot="fixed">
		<ion-avatar class="user-info">
			<img src="../../assets/user-avatar/user-avatar.png" />
		</ion-avatar>
		<p class="user-info user-info-text user-greeting ion-text-center">
			Good {{ (timePeriod === 'AM' ? 'Morning': 'Afternoon') }}
		</p>
		<p class="user-info user-info-text user-fullname ion-text-center">
			Borja, Noriel
		</p>

		<ion-toolbar>
			<ion-segment
				[(ngModel)]="segmentModel"
				(ionChange)="segmentChanged($event)"
				class="dashboard-menu-segment"
				value="ilas"
			>
				<ion-segment-button value="ilas">
					<ion-icon
						size="small"
						src="../../assets/ionicons/hand-left.svg"
					></ion-icon>
					<ion-label>Manage<br />ILAS Funds</ion-label>
				</ion-segment-button>
				<ion-segment-button value="claims">
					<ion-icon
						size="small"
						src="../../assets/ionicons/reader.svg"
					></ion-icon>
					<ion-label>Claims</ion-label>
				</ion-segment-button>
				<ion-segment-button value="policy-serving">
					<ion-icon
						size="small"
						src="../../assets/ionicons/hand-right.svg"
					></ion-icon>
					<ion-label>Policy<br />Serving</ion-label>
				</ion-segment-button>
			</ion-segment>
		</ion-toolbar>
	</div>

	<div class="container" *ngIf="segmentModel=='ilas'">
		<app-insurance-policies></app-insurance-policies>
	</div>

	<div class="container" *ngIf="segmentModel=='claims'">
		<ion-grid>
			<ion-row>
				<ion-col class="ion-margin-top">
					Claims segment content
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

	<div class="container" *ngIf="segmentModel=='policy-serving'">
		<app-policy-serving></app-policy-serving>
	</div>
</ion-content>
