:host {
	ion-badge {
		font-size: 8px;
		font-weight: normal;
		left: 24px;
		position: absolute;
		top: 8px;
	}

	ion-segment-button {
		--color-checked: #0d2858;
		--indicator-color: transparent !important;
		--indicator-color-checked: transparent !important;
		--background-checked: linear-gradient(
			0deg,
			rgba(255, 196, 9, 1) 10%,
			rgba(255, 196, 9, 0.6839110644257703) 35%,
			rgba(255, 196, 9, 0.2637429971988795) 100%
		);
	}

	ion-segment ion-label {
		font-size: 12px;
		line-height: 16px;
		text-transform: capitalize;
	}

	.dashboard-subheader {
		background-color: #ffc409;
		position: relative;

		ion-avatar {
			display: flex;
			height: 48px;
			margin: 0 auto;
			width: 48px;

			img {
				margin: 0 auto;
			}
		}

		.user-info-text {
			color: white;
		}

		.user-greeting {
			font-family: cursive;
			font-size: 22px;
			margin: 6px 0 0;
		}

		.user-fullname {
			font-size: 26px;
			font-weight: 900;
			margin: 0 0 18px;
		}

		.dashboard-menu-segment {
			--background: rgb(255, 196, 9);
			--background: linear-gradient(
				0deg,
				rgba(255, 196, 9, 1) 10%,
				rgba(255, 196, 9, 0.6839110644257703) 35%,
				rgba(255, 196, 9, 0.2637429971988795) 100%
			);

			ion-icon {
				margin-bottom: 2px;
			}
		}
	}

	.dashboard-container {
		.container {
			margin-top: 200px;
		}
	}

	.policy-list-header {
		color: gray;
		font-size: 14px;
	}

	.policy-list-item {
		color: #0d2858;
		font-size: 18px;
		font-weight: 500;
		padding-left: 45px;
	}

	.list-header-icon ion-icon {
		font-size: 26px;
		margin-right: 18px;
	}
}
