<ion-header>
	<ion-toolbar color="warning">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>All Policies</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-card *ngFor="let policy of (policies | async)?.all_policies">
					<ion-card-header>
						<ion-card-title>{{ policy.name }}</ion-card-title>
						<ion-item button detail lines="none">
							<ion-label>Policy No: {{ policy.policynumber }}</ion-label>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Status: {{ policy.status }}</ion-label>
						</ion-item>
					</ion-card-header>
					<ion-card-content>
						<ion-row *ngFor="let detail of policy.details">
							<ion-col class="ion-no-padding" size="6">
								{{ detail.label }}
							</ion-col>
							<ion-col
								size="6"
								class="ion-text-end ion-no-padding ion-align-self-end"
							>
								{{ detail.value }}
							</ion-col>
						</ion-row>
					</ion-card-content>
					<ion-footer *ngIf="policy.isDue">
						<ion-toolbar>
							<ion-row>
								<ion-col size="1" class="ion-text-center ion-align-self-center"
									><ion-icon
										size="large"
										color="warning"
										name="alert"
									></ion-icon
								></ion-col>
								<ion-col size="11" style="padding: 14px;"
									><ion-text color="warning">
										{{ policy.isDue }}
									</ion-text>
								</ion-col>
							</ion-row>
						</ion-toolbar>
					</ion-footer>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row class="ion-text-center">
			<ion-col size="12">
				<p class="coverages-note">
					*Additional coverages detailed in provision
				</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
